@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Playfair-Bold';
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: 'Playfair-BoldItalic';
  src: url(../fonts/PlayfairDisplay-BoldItalic.ttf);
}