$zIndexSlider: 100; 
$zIndexDropup: 200;
$zIndexNavbar: 300;
$zIndexFooter: 400; 
$zIndexPopupBack: 500;
$zIndexPopupFront: 600;

$colorBaseDark: #000;
$colorBaseLight: #fff;

$colorSpecialDark: #353436;
$colorSpecialLight: #b5b4b4;
$colorSpecialNeutral: #e2d1a6;

$colorFontDark: #000;
$colorFontLight: #fff;

$colorStateBase: #fff;
$colorStateHover: #808080;
$colorStateActive: #e2d1a6;