<div class="dropup">
  <div class="container">
    <button class="dropup__button dropup__button_open"></button>
    <div class="dropup__content dropup__content_invisible">
      <div class="dropup__column dropup__column_neutral">
        <div class="dropup__title">Stai pensando ad un progetto?</div>
        <div class="dropup__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor dolore
        </div>
        <div class="dropup__note">Approfondisci</div>
      </div>
      <div class="dropup__column dropup__column_bright">
        <div class="dropup__title">Vi aspettiamo alla fiera Euroluce</div>
        <div class="dropup__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor dolore
        </div>
        <div class="dropup__note">Approfondisci</div>
      </div>
      <div class="dropup__column dropup__column_dark">
        <div class="dropup__title">Scopri la nuova collezione</div>
        <div class="dropup__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor dolore
        </div>
        <div class="dropup__note">Approfondisci</div>
      </div>
    </div>
  </div>
</div>