<div class="dropup">
  <div class="dropup__container container">
    <div class="dropup__window">
      <button class="dropup__button dropup__button_open"></button>
      <div class="dropup__content dropup__content_invisible">
        <div class="dropup__benefit benefit benefit_neutral">
          <div class="benefit__title">Stai pensando ad un progetto?</div>
          <div class="benefit__content">
            <div class="benefit__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor dolore
            </div>
            <div class="benefit__note">Approfondisci</div>
          </div>
        </div>
        <div class="dropup__benefit benefit benefit_bright">
          <div class="benefit__title">Vi aspettiamo alla fiera Euroluce</div>
          <div class="benefit__content">
            <div class="benefit__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor dolore
            </div>
            <div class="benefit__note">Approfondisci</div>
          </div>
        </div>
        <div class="dropup__benefit benefit benefit_dark">
          <div class="benefit__title">Scopri la nuova collezione</div>
          <div class="benefit__content">
            <div class="benefit__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor dolore
            </div>
            <div class="benefit__note">Approfondisci</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>