<form class="form">
  <div class="form__block">
    <p class="form__title">Accedi</p>
    <input class="form__field" type="text" placeholder="E-mail">
    <input class="form__field" type="password" placeholder="Password">
    <input class="form__button" type="submit" value="Accedi">
    <p class="form__note">Password dimenticata</p>
  </div>
  <div class="form__block">
    <p class="form__title">Registrati</p>
    <input class="form__field" type="text" placeholder="Nome">
    <input class="form__field" type="text" placeholder="Cognome">
    <input class="form__field" type="text" placeholder="E-mail">
    <input class="form__field" type="password" placeholder="Password">
    <input class="form__checkbox" id="processing" type="checkbox">
    <label class="form__label" for="processing">Acconsento altrattamento dei dati</label>
    <input class="form__checkbox" id="subscribe" type="checkbox">
    <label class="form__label" for="subscribe">Mi iscrivo alla Newsletter</label>
    <input class="form__button" type="submit" value="Iscriviti">
  </div>
</form>