.dropup {
	position: absolute;
	width: 100%;
	bottom: 0;

	&__button {
		position: relative;
		margin: 0 auto;
		width: 84px;
		height: 27px;
		display: block;
		border: none;
		background-color: $colorBaseLight;		
		outline: none;		
		transition: top linear 0.9s;
		z-index: $zIndexDropup;
		cursor: pointer;
		
		&:before, &:after {
      position: absolute;      
      bottom: 2px;
      content: ' ';
      height: 22px;
      width: 2px;
      background-color: $colorBaseDark;
		}
		
		&:before { left: 33px; }		
		&:after {	right: 33px; }
		
		&_open {
			top: 172px;

			&:before { transform: rotate(50deg); }			
			&:after {	transform: rotate(-50deg); }			
		}

		&_close {
			top: 0px;

			&:before { transform: rotate(-50deg); }			
			&:after {	transform: rotate(50deg); }			
		}
	}

	&__content {
		@include clearfix;
		position: relative;
		transition: top linear 0.9s;		
		z-index: $zIndexDropup;

		&_visible {	top: 0px;	}
		&_invisible {	top: 172px;	}
	}

	&__column {
		position: relative;
		float: left;
		width: 33.333333%;
		height: 172px;
		padding: 15px 15px 0 15px;		

		&_neutral {
			background-color: $colorSpecialNeutral;

			& > .dropup__title, & > .dropup__text { color: $colorFontDark;	}
			& > .dropup__note {
				color: $colorFontLight;
				text-decoration: underline;
			}
		}

		&_bright {
			background-color: $colorBaseLight;

			& > .dropup__title,
			& > .dropup__text,
			& > .dropup__note { color: $colorFontDark; }
		}

		&_dark {
			background-color: $colorBaseDark;

			& > .dropup__title,
			& > .dropup__text,
			& > .dropup__note { color: $colorFontLight; }
		}
	}

	&__title {
		font-size: 27px;
		font-family: "Playfair-Bold";
	}

	&__text {
		position: absolute;
		font-size: 15px;
		font-family: "OpenSans-Regular";		
		line-height: 1.6;		
		bottom: 42px;		
	}

	&__note {
		position: absolute;
		font-size: 17px;
		font-family: "OpenSans-Regular";
		float: right;		
		right: 20px;
		bottom: 10px;
	}
}