.header {
  background-color: $colorSpecialDark;
  min-width: 320px;

  &__row {
    display: flex;
    position: relative;   

    @include mediaquery (xs) { flex-direction: column; }
    @include mediaquery (sm) { justify-content: space-between; }
    @include mediaquery (md) { justify-content: space-between; }
  }
  
  &__logo {
    
    @include mediaquery (xs) {
      position: absolute;
      height: 70%;
      top: 15%;
      margin-left: 10px;
    }

    @include mediaquery (sm) {
      width: 30%;
      align-self: center;
      margin: 10px 0;
    }

    @include mediaquery (md) { width: auto; }
    @include mediaquery (lg) { margin: 20px 0; }
    @include mediaquery (xl) { margin: 24px 0; }
  }

  &__navigation {
    display: flex;
    flex-direction: column;    
    align-items: flex-end;

    @include mediaquery (xs) { 
      align-items: stretch;
      margin-right: 10px;
    }

    @include mediaquery (sm) { justify-content: flex-start; }
    @include mediaquery (md) { justify-content: space-between;}
  }

  &__reserved {    
    padding: 0;    
    border: none;
    background: none;
    outline: none;
    line-height: 14px;
    text-transform: uppercase;
    color: $colorFontLight; 
    cursor: pointer;

    @include mediaquery (xs) { 
      align-self: flex-end;
      margin-top: 10px;
    }

    @include mediaquery (sm) { margin-top: 10px; }
    @include mediaquery (md) { margin-top: 5px; }

    &:hover {
      color: $colorStateHover;

      & > .header__icon { opacity: 0.4; }
    }
  }

  &__icon { margin-left: 6px; }

  &__navbar {

    @include mediaquery (xs) { 
      margin-bottom: 5px;
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;
      background-color: $colorSpecialDark;
    }

    @include mediaquery (sm) { margin-bottom: 10px; }
    @include mediaquery (md) { margin-bottom: 22px; }
  }
}

.toggle {
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  
  &:hover > .toggle__line {
    background-color: $colorStateHover;
  }
  
  &__line {
    background-color: $colorBaseLight;
    height: 3px;
    border-radius: 1px;
  }

  @include mediaquery (xs) { 
    display: flex;
    margin: 10px 0;
    align-self: flex-end;
  }

  @include mediaquery (sm) {
    display: flex;
    margin: 10px 0;
    align-self: flex-end;
  }

  @include mediaquery (md) { display: none;}
}

.navbar {
  z-index: $zIndexNavbar;

  &_visible {
    @include mediaquery (xs) { display: block; }
    @include mediaquery (sm) { display: block; }
    @include mediaquery (md) { display: block; }
  }

  &_invisible {
    @include mediaquery (xs) { display: none; }
    @include mediaquery (sm) { display: none; }
    @include mediaquery (md) { display: block; }
  }

  &__list {
    display: flex;    
    list-style: none;
    padding: 0;
    margin: 0;
    
    @include mediaquery (xs) { 
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      padding-left: 10px;
    }
    @include mediaquery (sm) { justify-content: space-between; }
    @include mediaquery (md) { justify-content: space-between; }

    &_dropdown {
      position: absolute;
      display: none;   
      flex-direction: column;
      margin-left: -17px;      
      background-color: $colorSpecialDark;
      
      @include mediaquery (xs) {
        display: flex;
        padding: 0;
        margin-left: 0;
        position: static;
      }

      @include mediaquery (sm) { padding-top: 10px; }
      @include mediaquery (md) { padding: 30px 0 8px 0; }

      & > .navbar__item {
        padding: 4px;
        margin: 0 10px;
        border-bottom: 1px solid $colorBaseLight;
        
        &:first-of-type { margin-left: 12px; }

        &:last-of-type {
          margin-right: 12px;
          border-bottom: none;          
        }

        @include mediaquery (xs) {
          border: none;
          margin: 0;
          padding-left: 10px;
          
          &:first-of-type { margin-left: 0; }

          &:last-of-type {
            margin-right: 0;
            border-bottom: none;          
          }
        }
      }

      & > .navbar__link { font-size: 16px; }
    }
  }

  &__item {    

    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }

    &:hover {
      color: $colorStateHover;

      & > .navbar__list_dropdown { display: flex; }
    }

    @include mediaquery (xs) { margin: 2px 0; }
    @include mediaquery (sm) { margin: 0 6px; }
    @include mediaquery (md) { margin: 0 8px; }
    @include mediaquery (lg) { margin: 0 12px; }
  }

  &__link {
    display: block;       
    text-decoration: none;
    text-transform: uppercase;
    color: $colorFontLight;

    &:hover { color: $colorStateHover; }

    &_active {
      color: $colorStateActive;
      font-weight: 700;
    }

    @include mediaquery (xs) { font-size: 16px; }
    @include mediaquery (sm) { font-size: 14px; }
    @include mediaquery (md) { font-size: 16px; }
    @include mediaquery (lg) { font-size: 18px; }
  }
}
