#slide-1 { background-image: url(../img/main-slide-1.png); }
#slide-2 { background-image: url(../img/main-slide-2.png); }
#slide-3 { background-image: url(../img/main-slide-3.png); }

.slider {
	display: flex;
	z-index: $zIndexSlider;
	flex-grow: 1;

	&__group {
		width: 100%;
		height: 100%;
	}

	&__slide {
		height: 0;
		background: no-repeat center center /cover;
		transition: opacity linear 0.9s;
		opacity: 0.5;
		visibility: hidden;		

		&_active {
			height: 100%;
			opacity: 1;
			visibility: visible;			
		}
	}
	
	&__container {	
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__description {
		background-color: #ffffffcc;

		@include mediaquery (xs) {
			width: 90%;
			margin: 0 auto;
			padding: 5px 10px;
		}

		@include mediaquery (sm) {
			width: 100%;
			margin: 0 auto;
			padding: 5px 10px;
		}

		@include mediaquery (md) {
			width: 400px;
			margin-right: -10px;
			padding: 10px 15px;
		}

		@include mediaquery (lg) {
			width: 450px;
			margin-right: -5px;
			padding: 10px 15px;
		}

		@include mediaquery (xl) {
			width: 510px;
			padding: 13px 18px 17px 28px;
			margin-right: -15px;
		}
	}
	
	&__headline {
		font-family: "Playfair-BoldItalic";		
		text-transform: uppercase;
		color: $colorFontDark;

		@include mediaquery (xs) { font-size: 20px; margin: 0 0 10px 0; }
		@include mediaquery (sm) { font-size: 24px; margin: 0 0 15px 0; }
		@include mediaquery (md) { font-size: 24px; margin: 0 0 15px 0; }
		@include mediaquery (lg) { font-size: 26px; margin: 0 0 15px 0; }
		@include mediaquery (xl) { font-size: 30px; margin: 0 0 25px 0; }
	}

	&__text {
		font-family: "OpenSans-Regular";
		line-height: 1.3;
		color: $colorFontDark;

		@include mediaquery (xs) { font-size: 14px; }
		@include mediaquery (sm) { font-size: 16px; }
		@include mediaquery (md) { font-size: 16px; }
		@include mediaquery (lg) { font-size: 18px; }
	}
		
	&__paging {
		position: absolute; 
		bottom: 35px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	&__dots {
		padding: 0;
		margin: 0;
		list-style: none;		
		display: flex;
		justify-content: space-between;

		@include mediaquery (xs) { width: 50px; }
		@include mediaquery (sm) { width: 62px; }
	}

	&__dot {
		border-radius: 50%;
		border: 2px solid $colorBaseDark;
		background-color: $colorBaseLight;
		cursor: pointer;
		
		&:last-of-type { margin-right: 0;	}	
		&:hover {	background-color: $colorStateHover; }
		
		&_active { background-color: $colorStateActive; }

		@include mediaquery (xs) { width: 12px; height: 12px;	}
		@include mediaquery (sm) { width: 14px; height: 14px;	}
	}
}